extends layout

block main-content
  div#hero-section
    h1#hero-text Hero Text!
    div#search-bar
    form(action=`/search`, method="GET")
      input#search-type(type="text", name="type", placeholder="Search for Restaurants")
      input#search-location(type="text", name="location", placeholder="Location")
      input#search-button(type="submit")
  div#featured-list 
    h2 Featured List
    each res in restaurants 
      - let imagePath = "images/Default.png";
      - let altTest = "No Image";
      - if (res.img) imagePath = res.img;
      - if (res.img) altTest = `Food in ${res.name}`;
      a.featured-restaurant(href="/")
        img(src=imagePath, alt=altTest)
        h3 #{res.name}

