block variables
doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css", href="/site.css")
    title #{title} | Bite Connect | All restaurants reviews in one place
  body
    header#header
      div.header-content
        h2#site-name
          a(href="/") Bite Connect
      .support-platforms 
        h4 Supported Platform
        .platform 
          img.platform-icon(src="/images/google.png", alt="Google Icon")
          p Google Place
        .platform 
          img.platform-icon(src="/images/yelp.png", alt="Yelp Icon")
          p Yelp
    main#main
      block main-content
    footer#footer
      div &copy; Copyright HoKit So, 2023.