/* #General */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    padding-left: 2%;
    height: 50px;
    width: 100%;
    z-index: 1;
}

#main {
    margin-top: 50px;
}

/* #Hero Section */

#hero-section {
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#hero-background {
    opacity: 0.75;
    background-image: url("./images/hero-image.jpg");
    /* Image from https://www.pinterest.com/pin/119908408819273701/*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 450px;
    z-index: -1;
}

#hero-text {
    width: 100%;
    text-align: center;
    color: #0b132b;
    font-size: 5em;
    margin-top: 0;
}

#search-bar {
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
}

#search-type,
#search-location,
#search-button {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.25em;
}

#search-type {
    width: 55%;
}

#search-location {
    width: 25%;
}

#search-button {
    background-color: #0077cc;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 10%;
}

/* Featured List */

#featured-list {
    display: flex;
    flex-flow: column nowrap;
}

#featured-list h2 {
    margin-left: 2%;
}

#restaurants-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.featured-restaurant {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
    width: 17%;
}

.featured-restaurant a {
    display: block;
    color: black;
}

.featured-restaurant:hover {
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.15);
}

.featured-restaurant img {
    display: block;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
}

.featured-restaurant h3, .featured-restaurant p {
    color: black;
    margin: 0;
    text-align: center;
}

/* Search Result */

#search-result-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 0 0 2%;
}

#search-result {
    margin: 0 0 0 2%;
    display: flex;
    flex-flow: row wrap;
}

.search-result-restaurant {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
    width: 45%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 2% 10px 0;
}

.search-image {
    width: 40%;
    max-width: 40%;
    height: 200px;
    max-height: 200px;
}